* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fb {
padding: 2rem;;
}

.feedback {
    padding: 1.5rem;
    width: 400px;
    background: rgb(70, 70, 70);
    display: flex;
    line-height: 1.5rem;
    flex-direction: column;
    font-weight: 900;
    color: white;
    border-radius: 5px;
}

.feedback input {
    margin-bottom: 6px;
    padding: 4px;
}

.feedback input:focus {
    outline: 1px solid rgb(255, 255, 255); 
}

.feedback__button {
    margin-top: 1rem;
    cursor: pointer;
    padding: 6px;
    outline: none;
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 3px;
    background: rgb(255, 255, 255);    
    width: 100px;
    align-self: flex-end;
    color: rgb(70, 70, 70);
}

.feedback__button:hover {
    margin-top: 1rem;
    background: rgb(70, 70, 70);   
    color: white;
    border: 1px solid white;
}

.warning {
    border: 2px solid red;
}

.spanWarning {
    margin-top: -0.25rem;
    text-align: right;
    font-size: 12px;
    line-height: 1rem;    
    color: red;
}
